.title {
    width: 98%;
    text-align: center;
    border: 1px solid black;
    margin-left: 1%;
}

.chartGroup {
    float: left;
    margin-left: 1%;
    width: 80%;
    margin-top: 1%;
}

.cardGroup {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.card {
    border: 1px solid black;
    width: 24%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 1%;
}

.dataCard {
    padding-top: 3%;
    font-size: x-large;
    font-style: italic;

}

.chartLayer {
    border:1px solid black;
    width: 100%;
    height: 550px;
}

.titleChart {
    text-align: center;
    padding-top: 1%;
}

.chart {
    border: 1px solid black;
    width: 100%;
    height: 495px;
}

.filter {
    float: right;
    height: 720px;
    width: 17%;
    margin-top: 1%;
    margin-right: 1%;
}

.filterCategory {
    width: 100%;
    height: 200px;
}

.titleFilter {
    text-align: center;
    padding: 5%;
    border: 1px solid black;
}

.checksCategory {
    text-align: center;
    justify-content: center;
    padding: 5%;
    border: 1px solid black;
}

.filterCountry {
    height: 175px;
}

.selectCountry {
    padding: 5%;
    border: 1px solid black;
}

.filterYear {
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
}

.rangeYear {
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper {
    padding: 20px 25px 40px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    width: 100%;
    display: flex;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #999;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
}

.slider .progress {
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: black;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50px;
    pointer-events: auto;
    -webkit-appearance: none;
    background: black;
}

